/BraveSoftware/
/Code - OSS/
/easyeffects/
/libreoffice/
/obsidian/
/obs_studio/
/teams-for-linux/
/vesktop/
/JetBrains/
/OpenTabletDriver/
/clipse/
/go/
hypr/config/gaming_laptop.conf
/tlpui/
/spotify/
/spicetify/
/obs-studio/
